<p id="notice"><%= notice %></p>

<h1>Donations</h1>
<h2>Total Gross Donations: <%= @donations.gross_amount_in_dollars %></h2>
<table>
  <thead>
    <tr>
      <th>Amount in cents</th>
      <th>Transaction Cost</th>
      <th>Donor name</th>
      <th>Stripe charge</th>
      <th>Donor email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= number_to_currency(donation.amount_in_dollars) %></td>
        <td><%= number_to_currency(donation.transaction_amount_in_dollars) %></td>
        <td><%= donation.donor_name %></td>
        <td><%= donation.stripe_charge_id %></td>
        <td><%= donation.donor_email %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
